<div class="api methoddetails">
	<div class="syntax"><span>{{syntax}}</span></div>
	<div class="details">{{desc}}</div>

	{{#if examples}}
		<div class="examples">
		<h2>Examples</h2>
		{{#each examples}}
			<pre class="js">{{content}}</pre>
		{{/each}}
		</div>
	{{/if}}

	{{#if params}}
	<div class="params">
		<h2>Params</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Name</th>
					<th>Type</th>
					<th class="last">Description</th>
				</tr>
			</thead>
			<tbody>
				{{#each params}}
				<tr>
					<td class="first">{{name}}</td>
					<td>
						{{#each types}}
							{{#if link}}
								<a href="{{link}}">{{name}}</a>
							{{else}}
								{{name}}
							{{/if}}
						{{/each}}
					</td>
					<td class="last">{{desc}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{/if}}

	{{#if return}}
	<div class="returns">
		<h2>Returns</h2>
		<div>
			{{#with return}}
				{{#each types}}
					{{#if link}}
						<a href="{{link}}">{{name}}</a>
					{{else}}
						{{name}}
					{{/if}}
				{{/each}}

				{{desc}}
			{{/with}}
		</div>
	</div>
	{{/if}}
</div>
