<div class="api namespacedetails">
<div class="details">{{desc}}</div>

{{#if namespaces}}
	<div class="namespaces">
		<h2>Namespaces</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Namespace</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each namespaces}}
				<tr>
					<td class="first"><a href="{{link}}" class="namespace">{{fullName}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

{{#if classes}}
	<div class="classes">
		<h2>Classes</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Class</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each classes}}
				<tr>
					<td class="first"><a href="{{link}}" class="class">{{fullName}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

{{#if mixins}}
	<div class="mixins">
		<h2>Mixins</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Mixin</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each mixins}}
				<tr>
					<td class="first"><a href="{{link}}" class="mixin">{{fullName}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

{{#if properties}}
	<div class="properties">
		<h2>Properties</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Property</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each properties}}
				<tr>
					<td class="first"><a href="{{link}}" class="class">{{name}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

{{#if events}}
	<div class="events">
		<h2>Events</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Event</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each events}}
				<tr>
					<td class="first"><a href="{{link}}" class="member">{{name}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

{{#if methods}}
	<div class="methods">
		<h2>Methods</h2>
		<table>
			<thead class="small">
				<tr>
					<th class="first">Event</th>
					<th class="last">Summary</th>
				</tr>
			</thead>
			<tbody>
				{{#each methods}}
				<tr>
					<td class="first"><a href="{{link}}" class="member">{{name}}</a></td>
					<td class="last">{{summary}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

</div>
